.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-content img {
    margin-left: 20px;
    border-radius: 8px;
    display: block;
    max-width: 250px; 
    margin: 0 auto 20px;
}

.news-content {
    display: flex;
    align-items: center;
    gap: 30px;
}


.news-content img {
    margin-right: 20px;
    border-radius: 8px;
    display: block;
    max-width: 250px; 
    margin: 0 auto 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    color: #ffffff;
    background: linear-gradient(to right, #b3e0f0, #ffffff 20%, #ffffff 80%, #b3e0f0);
    line-height: 1.6;
}

header {
    background-color: #ffffff; 
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.logo img {
    max-height: 80px; 
    height: auto; 
    display: inline-block;
    vertical-align: middle; 
    margin-right: 15px; 
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar a {
    color: #00417e; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 25px 15px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #005f7f; 
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
    padding: 20px;
}

section h2 {
    font-size: 2.4rem;
    color: #00417e;
    margin-bottom: 50px;
    text-align: center;
}

section p {
    font-size: 1.1rem;
    color: #1a1a1a;
    text-align: justify;
}

.contact-icons {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
}

.icon {
    font-size: 80px; 
    transition: transform 0.3s ease; 
    color: #00417e; 
}

.icon:hover {
    transform: scale(1.1); /* Povećava ikonu na hover */
}

footer {
    background-color: #f1f1f1; 
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

footer p {
    margin: 0;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 0 10px;
    }
    
    section h2 {
        font-size: 1.5rem;
    }
    
    section p {
        font-size: 0.9rem;
    }
}
