* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    color: #ffffff;
    background: linear-gradient(to right, #b3e0f0, #ffffff 10%, #ffffff 90%, #b3e0f0);
    line-height: 1.6;
}

header {
    background-color: #ffffff; 
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
    padding: 20px;
}

section p {
    font-size: 1.1rem;
    color: #1a1a1a;
    text-align: justify;
}

section h2 {
    font-size: 3.6rem;
    font-weight: normal;
    color: #00417e;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0;
}

section h2.visible {
    opacity: 1;
    transform: translateY(0);
}

section h3 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #00417e;
    margin-bottom: 20px;
}

.logo img {
    max-height: 80px; 
    height: auto; 
    display: inline-block;
    vertical-align: middle; 
    margin-right: 15px; 
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar a {
    color: #00417e; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 25px 15px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #005f7f; 
}

.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-content img {
    margin-left: 20px;
    border-radius: 8px;
    display: block;
    max-width: 250px; 
    margin: 0 auto 20px;
}

.news-item{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    border-bottom: 1px solid #ddd;
}


.news-item img {
    margin-right: 20px;
    border-radius: 8px;
    max-width: 250px; 
    margin: 0 auto 20px;
}

.news-item-text {
    display: flex;
    flex-direction: column;
}

.projects-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.projects-content img {
    margin-left: 20px;
    border-radius: 8px;
    display: block;
    max-width: 250px; 
    margin: 0 auto 20px;
}

.contact-icons {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
}

.icon {
    font-size: 80px; 
    transition: transform 0.3s ease; 
    color: #00417e; 
}

.icon:hover {
    transform: scale(1.2);
}

.contact-tooltips {
    font-size: 1rem; 
    font-weight: bold;
    color: #00417e; 
    text-align: center;
    display: block; 
    margin-top: 5px; 
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.3s ease; 
}

.contact-icons a {
    font-family: 'Lora', serif;
    text-decoration: none; 
    color: #00417e; 
}

.contact-icons a:hover .contact-tooltips {
    visibility: visible; 
    opacity: 1; 
}

footer {
    background-color: #f1f1f1; 
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

footer p {
    margin: 0;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .about-content, .news-content, .contact-icons {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .news-item {
        flex-direction: column;
        text-align: center;
    }

    .news-item img, .about-content img, .news-content img {
        max-width: 100%; 
        margin: 0 auto;
    }

    h2 {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    main {
        max-width: 100%;
        padding: 10px 20px;
    }

}