/*
    CSS project commons
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    color: #ffffff;
    background: linear-gradient(to right, #b3e0f0, #ffffff 10%, #ffffff 90%, #b3e0f0);
    line-height: 1.6;
}

header {
    background-color: #ffffff; 
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    padding-top: 50px;
}

section {
    margin-bottom: 50px;
    padding: 20px;
}

section p {
    font-size: 1.1rem;
    color: #0d0d0d;
    text-align: justify;
}

section h1 {
    font-size: 4.2rem;
    font-weight: normal;
    color: #00417e;
    text-align: center;
}

section h2 {
    font-size: 3.6rem;
    font-weight: normal;
    color: #00417e;
    margin-bottom: 50px;
    text-align: center;
}

section h3 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #00417e;
    margin-bottom: 20px;
}

section h3 a {
    text-decoration: none;
    color: inherit;  
}

footer {
    background-color: #f1f1f1; 
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

footer p {
    margin: 0;
}

table {
    border-collapse: collapse; 
    width: 100%; 
}

table, th, td {
    border: 1px solid black; 
}

th, td {
    font-size: 1.1rem;
    padding: 5px; 
    text-align: center;
    color: #0d0d0d
}

th {
    background-color: #f2f2f2; 
}


.logo img {
    max-height: 80px; 
    height: auto; 
    display: inline-block;
    vertical-align: middle; 
    margin-right: 15px; 
}

.navbar {
    position: fixed;
    top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    gap: 80px;
    transition: top 0.3s;
}

.navbar.hidden {
    top: -100px; 
}

.navbar a {
    color: #00417e; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 25px 15px;
    transition: color 0.3s ease;
    position: relative;
}

.navbar a:hover {
    color: #005f7f; 
}

.navbar li {
    position: relative;
}

.navbar .dropdown {
    list-style-type: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #ffffff;
    padding: 10px 0;
    display: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.navbar .dropdown li {
    margin: 0;
    padding: 0;
}

.navbar .dropdown a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap; 
    font-size: 1.2rem;
    color: #00417e;
    text-decoration: none;
}

.navbar .dropdown a:hover {
    background-color: #f5f5f5;
    color: #005f7f;
}

.navbar li:hover .dropdown {
    display: block;
}

/*
    index.html styles
*/

.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-content img {
    margin-left: 20px;
    border-radius: 8px;
    display: block;
    max-width: 250px; 
    margin: 0 auto 20px;
}

.news-item{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.news-item img {
    margin-right: 20px;
    border-radius: 8px;
    max-width: 250px; 
    margin: 0;
}

.news-item-text {
    display: flex;
    flex-direction: column;
}

.news-item h5 {
    position: relative;
    font-size: 1.2rem;
    color: #bbb;
    margin: 0;
}

.projects-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.projects-content img {
    margin-left: 20px;
    border-radius: 8px;
    display: block;
    max-width: 250px; 
    margin: 0 auto 20px;
}

.contact-icons {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
}

.icon {
    font-size: 80px; 
    transition: transform 0.3s ease; 
    color: #00417e; 
}

.icon:hover {
    transform: scale(1.2);
}

.contact-tooltips {
    font-size: 1rem; 
    font-weight: bold;
    color: #00417e; 
    text-align: center;
    display: block; 
    margin-top: 5px; 
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.3s ease; 
}

.contact-icons a {
    font-family: 'Lora', serif;
    text-decoration: none; 
    color: #00417e; 
}

.contact-icons a:hover .contact-tooltips {
    visibility: visible; 
    opacity: 1; 
}

/*
    u-vase-zivote-kap-nase-dobrote.html styles
*/

.project-signup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-signup-content a {
    align-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #fc6a03; 
}

.project-gifting-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.project-gifting-image {
    max-width: 50%;
    align-items: center;
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
}

.project-about-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-about-images {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.project-about-images-image {
    flex: 1 1 calc(33% - 20px);
    max-width: 30%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
}

/*
    gallery styles
*/

.gallery { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-image {
    width: calc(33.33% - 10px);
    height: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    object-fit: cover;
}


/*
    mobile styles
*/

@media (max-width: 768px) {

    section h1 {
        font-size: 2.8 rem;
    }

    section h2 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    section h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    section p {
        font-size: 1rem;
        margin-top: 5px;
    }

    main {
        max-width: 100%;
        padding: 10px 20px;
        padding-top: 250px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .navbar.hidden {
        top: -500px;
    }

    .about-content, .news-content, .projects-content, .contact-icons {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .news-item {
        flex-direction: column;
        text-align: center;
    }

    .news-item img, .about-content img, .news-content img, .projects-content img {
        max-width: 100%; 
        margin: 0 auto;
    }

    .contact-tooltips {
        visibility: visible;
        opacity: 1;
    }

    .project-gifting-content img, .project-about-content img, .project-colaboration-content img {
        max-width: 100%;
        margin: 0 auto;
    }

    .project-about {
        flex-direction: column;
        text-align: center;
    }

    .project-colaboration-content {
        flex-direction: column;
        text-align: center;
    }

    .project-about-images {
        flex-direction: column;
    }

    .gallery-image {
        width: calc(100% - 10px);
    }

}